@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
/* #################### html styling elements ############### */
:root {
    font-size: 62.5%;
}
ul li {
    list-style: none;
}
a {
    font-size: 1.6rem;
    text-decoration: none;
}
p, li {
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.07em;
}
h1, h2, h3 {
    margin-bottom: 0.5em;
    letter-spacing: 0.10em;
    font-weight: 500;
}
/* ############### utility classes ########## */
.container {
    max-width: 1000px;
    width: 90%;
    margin: 0% auto;
}
.btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}

.justify {
    text-align: justify;
}

.lt-space {
    letter-spacing: 0.1em;
}
.btn-primary {
    background-color: white;
    border-radius: 10em;
    letter-spacing: 0.15em;
}
.btn-primary:hover {
    background: #ddd;
}
.btn-secondary {
    border: 2px solid red;
    border-radius: 1.5em;
    color: red;
    background: white;
    letter-spacing: 0.15em;
}
.btn-secondary:hover {
    background: #fcf3f2;
}

.lg-heading {
    font-size: 3.5rem;
}
.md-heading {
    font-size: 2.2rem;
}
.sm-heading {
    font-size: 1.8rem;
}
.text-red {
    color: #e63946;
}
.text-light {
    color: #f4f4f4;
}
.text-black {
    color: #333333;
}
.text-gray {
    color: #555555;
}

.bg-dark {
    background-color: #263238;
}
/* ################### header styling#################### */
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}
header {
    height: 97vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url('../IMG/main.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.navbar {
    padding: 0.5rem;
}
.navbar .logo {
    letter-spacing: 0.2em;
    float: left;
}
.navbar .nav-items {
    float: right;
    margin-top: 1rem;
}


.navbar::after {
    content: "";
    clear: both;
    display: block;
}
/* ################### header content styling ################ */

.navbar .nav-item {
    display: inline-block;
    padding: 1rem;
}
.navbar a:link,
.navbar a:visited {
    color:white;
}
.navbar a {
    padding-bottom: 0.3rem;
    margin: 0 auto;
}
.navbar a:hover {
    border-bottom: 1px solid white;
}

.header-content {
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.header-content h1 {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin:auto 0%;
}
.header-content p {
    text-transform: uppercase;
    text-align: center;
}

/* ##################### section styling ############### */
.section {
    background: #ddd;
    padding: 10rem 0;
}

.row {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px 0px #aaa;
    margin-bottom: 10rem;
}

.video-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-box video {
    width: 100%;
    height: auto;
    max-height: 350px;
}

.text-box {
    background-color: white;
    padding: 2.5rem;
    text-align: center;
}
.text-box h2 {
    margin-bottom: 1rem;
}
.text-box p {
    margin-bottom: 2rem;
}
.text-box a:link, a:visited {
    color: red;
}
.features {
    text-align: center;
    margin-bottom: 4rem;
}
.box-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
.box {
    background: #333;
    padding: 1.5rem;
    box-shadow: 0px 0px 20px 0px #aaa;
}
.box h2, p {
    margin-bottom: 1rem;
}
.box1 {
    background: white;
}
.box1 h2, p {
    color: red;
}
.box2 {
    background: red;
}
.box3 {
    background: white;
}
.box3 h2, p {
    color: rgb(247, 243, 243);
}
/* ###############footer styling############ */
.footer {
    background: #000000;
    padding: 2rem;
    text-align: center;
    color: white;
}
.social-media-links i{
    margin: 2rem;   
}

.fa {
    margin: 0 1rem;
    cursor: pointer;
}


/* ########################## media query ######################### */

@media (max-width:350px){
    :root{
        font-size:45%;
        margin: 1rem;
    }

    p{
        font-size: 0.8rem;
    }


.navbar .nav-items , .navbar .logo{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }

    .row{
        height: auto;
        width: 100%;
    }

    .row .img-box,
    .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }

    .features .box{
        float: none;
        width: 100%;
        height: auto;
        text-align: center;
        border-radius: 25px;
        box-shadow: 5px 5px 10px rgba(102, 102, 102, 0.521);
    }
    .box2, .box3{
        margin-top: 5rem;
        width:100%;
    }
    .box-wrapper{
        border-radius: 50px;
        width: 100%;
    }

    .box-wrapper{
       box-shadow:none;
   }
    
   .banner-left, .banner-right{
       float: none;
       width: 100%;
       text-align: center;
   }
   .banner-style{
       border-radius:0px;
   }
   .btn-cta{
       padding: 0.3em 1.5em;
       letter-spacing: 0.3rem;
   }
   .shakya{
       width: 100%;
       height: 100%;
   }
   .btn-primary{
       padding: 0.3em 1.5em;
       letter-spacing: 0.3rem;
   }

   .contact-form .pubg-skills .required{
       float: none;
       width: 100%;
       height: auto;
       margin-bottom: 5rem;
   }

   .contact-form .pubg-skills .form{
       float: none;
       width: 100%;
       height: auto;
   }
}


 @media  (min-width:351px ) and (max-width:500px){
     :root{
         font-size:50%;
         margin: 0%;
     }

     p{
         font-size: 1.2rem;
     }
     


.navbar .nav-items , .navbar .logo{
         float: none;
         display: block;
         width: 100%;
         text-align: center;
     }

     .row{
         height: auto;
         width: 100%;
     }

     .row .img-box,
     .row .text-box{
         float: none;
         width: 100%;
         text-align: center;
     }

     .features .box{
         float: none;
         width: 100%;
         height: auto;
         text-align: center;
         border-radius: 50px;
         box-shadow: 5px 5px 10px rgba(102, 102, 102, 0.521);
     }
     .box2, .box3{
         margin-top: 5rem;
         width:100%;
     }
     .box-wrapper{
         border-radius: 50px;
         width: 100%;
     }

     .box-wrapper{
        box-shadow:none;
    }
     
    .banner-left, .banner-right{
        float: none;
        width: 100%;
        text-align: center;
    }
    .banner-style{
        border-radius:0px;
    }
    .btn-cta{
        padding: 0.3em 1.5em;
        letter-spacing: 0.3rem;
    }
    .shakya{
        width: 100%;
        height: 100%;
    }
    .btn-primary{
        padding: 0.3em 1.5em;
        letter-spacing: 0.3rem;
    }

    .contact-form .pubg-skills .required{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }

    .contact-form .pubg-skills .form{
        float: none;
        width: 100%;
        height: auto;
    }
 }

 /* ################# media query more than 500px ######################## */

 @media (min-width:501px) and (max-width:768px){
    :root{
        font-size:50%;
        margin: 0%;
    } 
    p{
        font-size: 2.6rem;
    }

.navbar .nav-items , .navbar .logo{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }

    .row{
        height: auto;
        width: 100%;
    }

    .row .img-box,
    .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }

    .features .box{
        float: none;
        width: 100%;
        height: auto;
        text-align: center;
        border-radius: 50px;
        box-shadow: 5px 5px 10px rgba(102, 102, 102, 0.521);
    }
    .box2, .box3{
        margin-top: 5rem;
        width:100%;
    }
    .box-wrapper{
        border-radius: 50px;
        width: 100%;
    }

    .box-wrapper{
       box-shadow:none;
   }
    
   .banner-left, .banner-right{
       float: none;
       width: 100%;
       text-align: center;
   }
   .banner-style{
       border-radius:0px;
   }
   .btn-cta{
       padding: 0.3em 2.2em;
       letter-spacing: 0.4rem;
   }
   .shakya{
       width: 100%;
       height: 100%;
   }
   .btn-primary{
       padding: 0.3em 2.2em;
       letter-spacing: 0.4rem;
   }

   .contact-form .pubg-skills .required{
       float: none;
       width: 100%;
       height: auto;
       margin-bottom: 5rem;
   }

   .contact-form .pubg-skills .form{
       float: none;
       width: 100%;
       height: auto;
   }
}

/* ########################## media query more than 768px ##################### */
@media(min-width:769px) and (max-width:1200px){
    :root{
        font-size: 57%;
    }
}

/* ###################### horizontal media query #################### */

 @media(orientation: landscape ) and (min-height:351px) and (max-height:500px){
    .header{
        height: 90vmax;
    }
} 

@media(orientation: landscape) and (max-height:350px){
    .header{
        height: 100vmax;
    }
}